/* Webfont: Ninetea-Medium */@font-face {
    font-family: 'NineteaMed';
    src: url('Ninetea-Medium.eot'); /* IE9 Compat Modes */
    src: url('Ninetea-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ninetea-Medium.woff') format('woff'), /* Modern Browsers */
         url('Ninetea-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Ninetea-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

