/* Webfont: Ninetea-Regular */@font-face {
    font-family: 'Ninetea';
    src: url('Ninetea-Regular.eot'); /* IE9 Compat Modes */
    src: url('Ninetea-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ninetea-Regular.woff') format('woff'), /* Modern Browsers */
         url('Ninetea-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Ninetea-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

